<div >
	<div>
		<img class="puppyPic img-responsive"
		     ng-src="{{('imgdir/'+f.UserName+'/myimg/mainpic.jpg') | spacesToDashes}}">
		<h5 class="text-center">{{f.NickName}}</h5>
	</div>

	<div class="text-center btnWrapper" ng-show=isFollowing>
		<!--<button class="btn btn-custom-icon"><i class="fa fa-envelope-o fa-fw "></i></button>-->
		<button class="btn btn-sm btn-default"
		        ng-click="ctrl.unfollow(f.Id,arrIndex)">Unfollow </button>
	</div>

	<div class="text-center btnWrapper" ng-show=!isFollowing>
		<!--<button class="btn btn-custom-icon"><i class="fa fa-envelope-o fa-fw "></i></button>-->
		<button class="btn btn-sm btn-default" ng-click="ctrl.follow(f.Id,arrIndex)">Follow
		</button>
	</div>
</div>
