<div class="row">
	<div class="col-md-8">
		<div class=" cont jumbotron jumbo-custom">
			<h3>Followings</h3>
			<hr/>

			<div class="container">
				<ul class="list-inline row">
					<li class="col-md-3 col-xs-6 shuffle-animation" ng-repeat="f in index.Followings">
						<follow-info is-following="true" ctrl="index" f="f" arr-index="{{$index}}"></follow-info>
					</li>
				</ul>
			</div>


			<h3>All Users</h3>
			<hr/>

			<div class="container">
				<ul class="list-inline row">
					<li class="col-md-3 col-xs-6 shuffle-animation" ng-repeat="f in index.NotFollowings">
						<follow-info is-following="false" ctrl="index" f="f" arr-index="{{$index}}"></follow-info>
					</li>
				</ul>
			</div>

		</div>

	</div>
	<div class="col-md-4">
	</div>
</div>